In [1]:
import folium
import pandas as pd

In [41]:
country_geo = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/world-countries.json'

In [42]:
data = pd.read_csv('../../world-development-indicators/Indicators.csv')

data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [43]:
data.shape

(5656458, 6)

In [44]:
hist_indicator = 'CO2 emissions \(metric'
hist_year = 2011

mask_co2 = data['IndicatorName'].str.contains(hist_indicator)
mask_year = data['Year'].isin([hist_year])

# apply our masks
stage = data[mask_co2 & mask_year]
stage.shape

(232, 6)

In [45]:
plot_data = stage[['CountryCode','Value']]
plot_data.head()

        CountryCode     Value
5026275         ARB  4.724500
5026788         CSS  9.692960
5027295         CEB  6.911131
5027870         EAS  5.859548
5028456         EAP  5.302499

In [46]:
# label for legand
hist_indicator_name = stage['IndicatorName'].iloc[0]

In [94]:
map = folium.Map(location=[40, 0], zoom_start= 1.5)

In [98]:
folium.Choropleth(geo_data= country_geo, data= plot_data,name='choropleth', 
               columns=['CountryCode', 'Value'],
               key_on='feature.id',
               fill_color= 'YlGnBu', fill_opacity=.9, line_opacity=.2,
               legend_name = hist_indicator_name).add_to(map)

In [99]:
map.save('plot_data.html')

In [100]:
from IPython.display import IFrame
IFrame(src= 'plot_data.html', width= 700, height= 450)